<div class="tab requirements" data-group="primary" data-tab="requirements">

	{{> item/perk/_partials/attributes}}

	<section class="grid-2-columns">
		<div class="left-column">
			<div class="flexrow resource-row align-mid">
				<label class="field-label">
					{{localize "FALLOUT.Item.Perk.level"}}
				</label>

				<div class="flexrow align-right">
					<input class="text-center num-short-2"
						   name="system.requirementsEx.level"
						   type="number"
						   value="{{system.requirementsEx.level}}" />
				</div>
			</div>

			{{#if (gt system.rank.max 1)}}
			<div class="flexrow resource-row align-mid">
				<label class="field-label">
					{{localize "FALLOUT.Item.Perk.levelIncrease"}}
				</label>

				<div class="flexrow align-right">
					<input class="text-center num-short-2"
						   name="system.requirementsEx.levelIncrease"
						   type="number"
						   value="{{system.requirementsEx.levelIncrease}}" />
				</div>
			</div>
			{{/if}}
		</div>


		<div class="right-column">
			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirementsEx.notGhoul">
					{{localize "FALLOUT.Item.Perk.notGhoul"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirementsEx.notGhoul"
					   type="checkbox"
					   {{checked system.requirementsEx.notGhoul}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirementsEx.notHuman">
					{{localize "FALLOUT.Item.Perk.notHuman"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirementsEx.notHuman"
					   type="checkbox"
					   {{checked system.requirementsEx.notHuman}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirementsEx.notRobot">
					{{localize "FALLOUT.Item.Perk.notRobot"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirementsEx.notRobot"
					   type="checkbox"
					   {{checked system.requirementsEx.notRobot}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirementsEx.notSupermutant">
					{{localize "FALLOUT.Item.Perk.notSupermutant"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirementsEx.notSupermutant"
					   type="checkbox"
					   {{checked system.requirementsEx.notSupermutant}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirementsEx.notRadiationImmune">
					{{localize "FALLOUT.Item.Perk.notRadiationImmune"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirementsEx.notRadiationImmune"
					   type="checkbox"
					   {{checked system.requirementsEx.notRadiationImmune}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirementsEx.isCompanion">
					{{localize "FALLOUT.Item.Perk.isCompanion"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirementsEx.isCompanion"
					   type="checkbox"
					   {{checked system.requirementsEx.isCompanion}} />
			</div>
		</div>
	</section>
</div>
