<div class="tab requirements" data-group="primary" data-tab="requirements">

	{{> item/perk/attributes}}

	<section class="grid-2-columns">
		<div class="left-column">
			<div class="flexrow resource-row align-mid">
				<label class="field-label">
					{{localize "FALLOUT.Item.Perk.level"}}
				</label>

				<div class="flexrow align-right">
					<input class="text-center num-short-2"
						   name="system.requirements.level"
						   type="number"
						   value="{{system.requirements.level}}" />
				</div>
			</div>

			{{#if (gt system.rank.max 1)}}
			<div class="flexrow resource-row align-mid">
				<label class="field-label">
					{{localize "FALLOUT.Item.Perk.levelIncrease"}}
				</label>

				<div class="flexrow align-right">
					<input class="text-center num-short-2"
						   name="system.requirements.levelIncrease"
						   type="number"
						   value="{{system.requirements.levelIncrease}}" />
				</div>
			</div>
			{{/if}}
		</div>


		<div class="right-column">
			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirements.notGhoul">
					{{localize "FALLOUT.Item.Perk.notGhoul"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirements.notGhoul"
					   type="checkbox"
					   {{checked system.requirements.notGhoul}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirements.notHuman">
					{{localize "FALLOUT.Item.Perk.notHuman"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirements.notHuman"
					   type="checkbox"
					   {{checked system.requirements.notHuman}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirements.notRobot">
					{{localize "FALLOUT.Item.Perk.notRobot"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirements.notRobot"
					   type="checkbox"
					   {{checked system.requirements.notRobot}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirements.notSupermutant">
					{{localize "FALLOUT.Item.Perk.notSupermutant"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirements.notSupermutant"
					   type="checkbox"
					   {{checked system.requirements.notSupermutant}} />
			</div>

			<div class="flexrow resource-row">
				<label class="field-label" for="system.requirements.notRadiationImmune">
					{{localize "FALLOUT.Item.Perk.notRadiationImmune"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirements.notRadiationImmune"
					   type="checkbox"
					   {{checked system.requirements.notRadiationImmune}} />
			</div>

			<!--<div class="flexrow resource-row">
				<label class="field-label" for="system.requirements.isCompanion">
					{{localize "FALLOUT.Item.Perk.isCompanion"}}
				</label>

				<input class="input-checkbox"
					   data-dtype="Boolean"
					   name="system.requirements.isCompanion"
					   type="checkbox"
					   {{checked system.requirements.isCompanion}} />
			</div>-->
		</div>
	</section>

	<div class="flexrow resource-row align-mid">
		<label class="field-label">
			{{localize "FALLOUT.Item.Perk.legacy"}}
		</label>

		<input type="text"
			   data-tooltip="{{localize 'FALLOUT.Item.Perk.Warning.legacy'}}"
			   name="system.requirements.legacy"
			   value="{{system.requirements.legacy}}">
	</div>
</div>
