<div
	class="box no-padding"
	style="margin-top: 5px; margin-bottom: 0px;"
>
	<div class="flexrow align-mid">
		<div class="flex-center">
			<label>
				{{system.carryWeight.base}}
				{{localize "FALLOUT.TEMPLATES.lbs"}}
				+
			</label>
			<input
				type="number"
				name="system.carryWeight.mod"
				class="num-short-2"
				value="{{system.carryWeight.mod}}"
			>
			<label>
				=
				{{localize "FALLOUT.TEMPLATES.MAX"}}:
				{{system.carryWeight.value}}
				{{localize "FALLOUT.TEMPLATES.lbs"}}
			</label>
		</div>
		<div class="text-center">
			<label>
				{{localize "FALLOUT.TEMPLATES.Encumbrance_Level"}}:
				{{system.encumbranceLevel}}
			</label>
		</div>
		<div style="text-align: right;">
			<label>
				{{localize "FALLOUT.TEMPLATES.Total"}}:
				{{system.carryWeight.total}} / {{system.carryWeight.value}}
				{{localize "FALLOUT.TEMPLATES.lbs"}}
			</label>
		</div>
	</div>
</div>
