<ol class="items-list">
	<li class="item flexrow items-header">
		<div class="item-name">
			{{localize "FALLOUT.TEMPLATES.PERK"}}
		</div>
		<div class="item-perk-value">
			{{localize "FALLOUT.TEMPLATES.Rank"}}
		</div>
		<div class="item-controls">
			<a
				class="item-control item-create"
				title="Create item"
				data-type="perk"
			>
				<i class="fas fa-plus"></i>
				{{localize "FALLOUT.UI.Add"}}
			</a>
			<a
				class="find-from-compendium"
				data-type="perk"
			>
				<i class="fa-solid fa-magnifying-glass"></i>
			</a>
		</div>
	</li>
	{{#each itemsByType.perk as |item id|}}
	<li class="item" data-item-id="{{item._id}}">
		<div class=" flexrow">
			<div class="item-name expandable-info">
				<h4><a class="resource-label">{{item.name}}</a></h4>
			</div>
			<div class="text-center">
				<label>{{item.system.rank.value}}</label>
			</div>
			<div class="item-controls">
				{{#ifCond item.system.stashed '!=' null}}
				<a class="item-control item-stash {{#unless item.system.stashed}}item-unstashed{{/unless}}" title='{{localize "FALLOUT.UI.stashed"}}'>
					<i class="fas fa-briefcase"></i>
				</a>
				{{/ifCond}}
				{{#if item.system.equippable}}
				<a class="item-control item-toggle {{#unless item.system.equipped}}item-unequipped{{/unless}}" title='{{localize "FALLOUT.equipped"}}'>
					<i class="fas fa-tshirt"></i>
				</a>
				{{/if}}
				<a class="item-control item-edit" title="{{localize 'FALLOUT.TEMPLATES.Edit_Item'}}"><i class="fas fa-edit"></i></a>
				<a class="item-control item-delete" title="{{localize 'FALLOUT.TEMPLATES.Delete_Item'}}"><i class="fas fa-trash"></i></a>
			</div>
		</div>
	</li>
	{{/each}}
</ol>
