<div class="box">
	<div class="box-header">
		<h4>{{localize "FALLOUT.TEMPLATES.RESISTANCE_BONUSES"}}</h4>
	</div>
	<div class="flexcol">
		<div class="flexrow resource-row">
			<span>
				<i class="fo-physical"></i>
				&nbsp;
				<label for="system.resistance.physical" class="resource-label">
					{{localize "FALLOUT.TEMPLATES.PHYS"}}
				</label>
			</span>
			<input
				class="num-short-2"
				name="system.resistance.physical"
				type="number"
				value="{{system.resistance.physical}}"
			>
		</div>
		<div class="flexrow resource-row">
			<span>
				<i class="fo-energy"></i>
				&nbsp;
				<label for="system.resistance.energy" class="resource-label">
					{{localize "FALLOUT.TEMPLATES.ENG"}}
				</label>
			</span>
			<input
				class="num-short-2"
				name="system.resistance.energy"
				type="number"
				value="{{system.resistance.energy}}"
			>
		</div>
		<div class="flexrow resource-row">
			<span>
				<i class="fo-radiation"></i>
				&nbsp;
				<label for="system.resistance.radiation" class="resource-label">
					{{localize "FALLOUT.TEMPLATES.RAD"}}
				</label>
			</span>
			<input
				class="num-short-2"
				name="system.resistance.radiation"
				type="number"
				value="{{system.resistance.radiation}}"
			>
		</div>
		<div class="flexrow resource-row">
			<span>
				<i class="fo-poison"></i>
				&nbsp;
				<label for="system.resistance.poison" class="resource-label">
					{{localize "FALLOUT.TEMPLATES.POISON"}}
				</label>
			</span>
			<input
				class="num-short-2"
				name="system.resistance.poison"
				type="number"
				value="{{system.resistance.poison}}"
			>
		</div>
	</div>
</div>
