<div class="fallout-dialog">
    <div class="resource" style="padding:5px;">
		<div>
			<strong>{{localize "FALLOUT.dialog.roll_ammo.button.create"}}:</strong>
			<em>{{localize "FALLOUT.dialog.roll_ammo.create.details"}}</em>
		</div>
		<hr>
		<div>
			<strong>{{localize "FALLOUT.dialog.roll_ammo.button.update"}}:</strong>
			<em>{{localize "FALLOUT.dialog.roll_ammo.update.details"}}</em>
		</div>
		<hr>
		<div>
			<strong>{{localize "FALLOUT.dialog.roll_ammo.button.chat"}}:</strong>
			<em>{{localize "FALLOUT.dialog.roll_ammo.chat.details"}}</em>
		</div>
    </div>
</div>
