<h4 class="resource-header">
	{{localize "FALLOUT.APPAREL.powerArmor"}}
</h4>
<div>

	<div class="flexrow resource-row align-mid">
		<label class="field-label">
			{{localize "FALLOUT.HEALTH.health"}}
		</label>
		<span class="flex2 align-right">
			<input
				class="num-short-2"
				data-dtype="Number"
				name="system.health.value"
				type="number"
				value="{{system.health.value}}"
			>
			<span>/</span>
			<input
				class="num-short-2"
				data-dtype="Number"
				name="system.health.max"
				type="number"
				value="{{system.health.max}}"
			>
		</span>
	</div>

	<div class="flexrow resource-row align-mid">
		<label class="field-label">
			{{localize "FALLOUT.powered"}}
		</label>
		<input
			class="input-checkbox"
			data-dtype="Boolean"
			name="system.powerArmor.powered"
			type="checkbox"
			{{checked system.powerArmor.powered}}
		/>
	</div>

	<div class="flexrow resource-row align-mid">
		<label class="field-label">
			{{localize "FALLOUT.Item.PowerArmor.IsFrame"}}
		</label>
		<input
			class="input-checkbox"
			data-dtype="Boolean"
			name="system.powerArmor.isFrame"
			type="checkbox"
			{{checked system.powerArmor.isFrame}}
		/>
	</div>
</div>
