<div class="tab attributes" data-group="primary" data-tab="attributes">

	{{#if isGM}}
	<div class="flexrow resource-row">
		<label class="field-label"
			   for="system.quantityRoll">
			{{localize "FALLOUT.TEMPLATES.Ammo.QuantityRoll"}}
			<a class="quantity-roll">
				<i class="fa-solid fa-dice"></i>
			</a>
		</label>

		<input data-dtype="String"
			   name="system.quantityRoll"
			   style="margin-left: 8px;"
			   type="text"
			   value="{{system.quantityRoll}}" />
	</div>
	{{/if}}

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.actor.inventory.materials.junk"}}
		</label>

		<input class="input-checkbox"
			   data-dtype="Boolean"
			   name="system.isJunk"
			   type="checkbox"
			   {{checked system.isJunk}} />
	</div>

	<div class="resource-row">
		<h3 class="field-label">
			{{localize "FALLOUT.TEMPLATES.Effect"}}
		</h3>

		<div class="description-field">
			{{
editor effectHTML
				button=true
				editable=editable
				owner=owner
				target="system.effect"
			}}
		</div>
	</div>
</div>
