<header class="sheet-header resource-plate-header {{actor.type}}-header">
    <img
		class="profile-img"
		data-edit="img"
		height="100"
		src="{{actor.img}}"
		title="{{actor.name}}"
		width="100"
	/>
    <div class="flexrow">
        <div class="flexcol">
            <h1 class="charname">
				<input
					class="underline font-lobster"
					name="name"
					type="text"
					value="{{actor.name}}"
                    placeholder="Name"
				/>
			</h1>
            <span class="flex align-mid">
				<div>
					<input
						class="underline"
						name="system.origin"
						placeholder="{{localize 'FALLOUT.TEMPLATES.Origin'}}"
						type="text"
						value="{{system.origin}}"
						data-dtype="String"
					/>
				</div>
				{{#if hasCategory}}
					<div>
						{{#select system.category}}
							<select name="system.category">
								{{#if isCreature}}
									{{#each FALLOUT.CREATURE_CATEGORIES as |item key|}}
										<option value="{{key}}">{{localize item}}</option>
									{{/each}}
								{{else}}
									{{#each FALLOUT.NPC_CATEGORIES as |item key|}}
										<option value="{{key}}">{{localize item}}</option>
									{{/each}}
								{{/if}}
							</select>
						{{/select}}
					</div>
				{{/if}}
            </span>
        </div>

        <div class="resources grid-2-columns actor-header-fields">
            <div class="flexcol resource-plate-header plate-2">
                <div class="resource flexrow align-mid">
                    <label
						{{#if levelUp}}
							class="label level-up-label fa-beat"
						{{else}}
							class="label"
						{{/if}}
						for="system.level.value"
						style="text-align: center;"
					>
						{{#if levelUp}}
							<a data-action="levelUp" data-tooltip="Click to Level Up">
								{{localize "FALLOUT.LEVEL.Level"}}
							</a>
						{{else}}
							{{localize "FALLOUT.LEVEL.Level"}}
						{{/if}}
					</label>
					<input
						data-dtype="Number"
						min="0"
						name="system.level.value"
						style="font-size: 18px; max-width: 3rem; text-align: center; margin-right: 20px;"
						type="number"
						value="{{system.level.value}}"
					/>
                </div>
            </div>

			{{#if isCreature}}
				<div></div>
			{{else}}
				<div class="flexrow align-mid resource-plate-header plate-3-g">
					<div style="text-align: center;">
						{{#if isPlayerCharacter}}
							<a
								class="availability-roll"
								data-tooltip="{{localize 'FALLOUT.AvailabilityRoll.tooltip'}}"
							>
								<i class="fa-light fa-hand-fingers-crossed fa-lg"></i>
							</a>
						{{/if}}
						<label class="label">
							<strong>{{localize "FALLOUT.TEMPLATES.Luck"}}</strong>
						</label>
						<label style="font-size: 12px; padding-left: 10px;">
							{{localize "FALLOUT.TEMPLATES.Points"}}
						</label>
					</div>
					<div class="special-number">
						<input
							name="system.luckPoints"
							style="font-size: 22px;"
							type="number"
							value="{{system.luckPoints}}"
							min="0"
						>
					</div>
				</div>
			{{/if}}

            <div class="flexrow grid-colspan-2" style="font-size:12px">
                {{#if (or (eq actor.type "character") (eq actor.type "robot"))}}
					<div
						class="resource flex-group-left"
						style="padding-right: 10px;"
					>
						<label
							class="resource-label"
							for="system.level.currentXP"
						>
							{{localize "FALLOUT.LEVEL.CurrentXP"}}
						</label>

						<div class="resource-content flexrow flex-center flex-between">
							<input
								class="underline"
								data-dtype="Number"
								name="system.level.currentXP"
								type="text"
								value="{{system.level.currentXP}}"
							/>
						</div>
					</div>

					<div class="resource flex-group-left">
						<label
							class="resource-label"
							for="system.level.nextLevelXP"
						>
							{{localize "FALLOUT.LEVEL.NextXP"}}
						</label>

						<div class="resource-content flexrow flex-center flex-between" style="width: 70%;">
							<input
								class="underline"
								data-dtype="Number"
								name="system.level.nextLevelXP"
								type="text"
								value="{{system.level.nextLevelXP}}"
								{{#unless disableAutoDerivedStats}}
									{{#unless disableAutoXpTarget}}
										data-tooltip="{{localize 'FALLOUT.Actor.Warnings.DerivedValue'}}"
										disabled
									{{/unless}}
								{{/unless}}
							/>
						</div>
					</div>
                {{else}}
					<div class="resource flex-group-left">
						<label
							class="resource-label"
							for="system.level.rewardXP"
						>
							{{localize "FALLOUT.LEVEL.RewardXP"}}
						</label>
						<div class="resource-content flexrow flex-center flex-between" style="width: 85%">
							<input
								class="underline"
								data-dtype="Number"
								name="system.level.rewardXP"
								type="text"
								value="{{system.level.rewardXP}}"
								{{#unless disableAutoXpReward}}
									data-tooltip="{{localize 'FALLOUT.Actor.Warnings.DerivedValue'}}"
									disabled
								{{/unless}}
							/>
						</div>
					</div>
                {{/if}}

            </div>
        </div>
    </div>
</header>
