<ol class="items-list">
	<li class="flexrow items-header">
		<div class="item-name upperC">
			{{localize "FALLOUT.TEMPLATES.Skill"}}
		</div>
		<div class="item-skill-tag">
			{{localize "FALLOUT.TEMPLATES.Tag"}}
		</div>
		<div class="item-skill-value">
			{{localize "FALLOUT.TEMPLATES.Rank"}}
		</div>
	</li>

	{{#each itemsByType.skill as |item id|}}
		<li class="item skill flexrow" data-item-id="{{item._id}}">
			<div class="item-name">
				<h4>
					<a class="color-secondary">
						<span class="resource-label upperC">
							{{item.localizedName}}
						</span>
						[{{item.localizedDefaultAttribute}}]
					</a>
				</h4>
			</div>
			<div class="item-skill-tag">
				<input
					name="tag"
					type="checkbox"
					{{checked item.system.tag}}
				>
			</div>
			<div class="item-skill-value">
				<input
					class="num-short-2"
					data-dtype="Number"
					min="0"
					name="value"
					type="number"
					value="{{item.system.value}}"
				>
			</div>
		</li>
	{{/each}}
</ol>
