<div class="tab attributes" data-group="primary" data-tab="attributes">

	{{#if isGM}}
		<div class="flexrow resource-row">
			<label class="field-label"
				for="system.quantityRoll">
				{{localize "FALLOUT.TEMPLATES.Ammo.QuantityRoll"}}
				<a class="quantity-roll">
					<i class="fa-solid fa-dice"></i>
				</a>
			</label>

			<input data-dtype="String"
				name="system.quantityRoll"
				style="margin-left: 8px;"
				type="text"
				value="{{system.quantityRoll}}" />
		</div>
	{{/if}}

	<div class="flexrow resource-row">
		<label class="field-label" for="system.consumableType">
			{{localize "FALLOUT.TEMPLATES.Consumable_Type"}}
		</label>

		{{#select system.consumableType}}
			<select name="system.consumableType">
				{{#each FALLOUT.CONSUMABLE_TYPES as |type key|}}
					<option value="{{key}}">
						{{localize type}}
					</option>
				{{/each}}
			</select>
		{{/select}}
	</div>

	<div class="flexrow resource-row">
		<label class="field-label" for="system.consumableGroup">
			{{localize "FALLOUT.TEMPLATES.Consumable_Group"}}
		</label>

		<input
			name="system.consumableGroup"
			type="text"
			value="{{system.consumableGroup}}"
		>
	</div>

	{{> item/consumable/type/beverage}}
	{{> item/consumable/type/chem}}
	{{> item/consumable/type/food}}
	{{> item/consumable/type/other}}

	<div class="resource-row">
		<h3 class="resource-label">
			{{localize "FALLOUT.TEMPLATES.Effect"}}
		</h3>
		<div class="description-field">
			{{editor effectHTML
				button=true
				editable=editable
				owner=owner
				target="system.effect"
			}}
		</div>
	</div>

</div>
