<div class="box padding5">
    <!-- <div class="box-header">
        <h4>{{localize "FALLOUT.TEMPLATES.CONDITIONS"}}</h4>
    </div> -->


        <ol class="items-list">
            <li class="item consumable flexrow items-header">
                <div class="flexrow flexlarge item-name upperC">{{localize 'FALLOUT.TEMPLATES.CONDITIONS'}}</div>
            </li>

            <li class="item" style="padding: 0.25rem;">
                <div class="condition-meters text-center">
                    <i class="fa-solid fa-pot-food" title="{{localize (concat 'FALLOUT.TEMPLATES.conditions.hunger')}}"></i>
                    {{#select system.conditions.hunger}}
                    <select name="system.conditions.hunger">
                        {{#each FALLOUT.conditions.hunger as |value key|}}
                        <option class="flo-option" value="{{value}}">{{localize (concat 'FALLOUT.TEMPLATES.conditions.' key)}}</option>
                        {{/each}}
                    </select>
                    {{/select}}
                </div>
            </li>
            <li class="item" style="padding: 0.25rem;">
                <div class="condition-meters text-center">
                    <i class="fa-solid fa-bottle-droplet" title="{{localize (concat 'FALLOUT.TEMPLATES.conditions.thirst')}}"></i>
                    {{#select system.conditions.thirst}}
                    <select name="system.conditions.thirst">
                        {{#each FALLOUT.conditions.thirst as |value key|}}
                        <option class="flo-option" value="{{value}}">{{localize (concat 'FALLOUT.TEMPLATES.conditions.' key)}}</option>
                        {{/each}}
                    </select>
                    {{/select}}
                </div>
            </li>
            <li class="item" style="padding: 0.25rem;">
                <div class="condition-meters text-center">
                    <i class="fa-solid fa-bed" title="{{localize (concat 'FALLOUT.TEMPLATES.conditions.sleep')}}"></i>
                    {{#select system.conditions.sleep}}
                    <select name="system.conditions.sleep">
                        {{#each FALLOUT.conditions.sleep as |value key|}}
                        <option class="flo-option" value="{{value}}">{{localize (concat 'FALLOUT.TEMPLATES.conditions.' key)}}</option>
                        {{/each}}
                    </select>
                    {{/select}}
                </div>
            </li>

            <li class="item" style="padding: 0.25rem;">
                <div class="text-center">
                    <p class="resource-label upperC text-center" style="margin: 0;">{{localize (concat 'FALLOUT.TEMPLATES.conditions.fatigue')}}</p>
                </div>
                <div class="text-center">
                    <input type="number" class="num-short-2" name="system.conditions.fatigue" value="{{system.conditions.fatigue}}">
                </div>
            </li>
        </ol>

</div>
