<header class="sheet-header">
	<img class="profile-img"
		 data-edit="img"
		 src="{{item.img}}"
		 title="{{item.name}}" />
	<div class="header-fields">
		<div class="flex">
			<h1 class="charname">
				<input name="name"
					   placeholder="Name"
					   type="text"
					   value="{{item.name}}" />
			</h1>
			<div class="chaty align-right">
				<i class="fas fa-comment"></i>
			</div>
		</div>
		<div class="grid-4-columns align-mid">
			<div class="resource">
				<label class="resource-label">
					{{localize "FALLOUT.UI.Quantity"}}
					<input class="num-short-3"
						   data-dtype="Number"
						   name="system.quantity"
						   type="number"
						   value="{{system.quantity}}" />
				</label>
			</div>
			<div class="resource">
				<label class="resource-label align-mid">
					{{localize "FALLOUT.UI.Weight"}}: {{system.weight}}
				</label>
			</div>
			<div class="resource">
				<label class="resource-label">
					{{localize "FALLOUT.UI.Cost"}}: {{system.cost}}
				</label>
			</div>
		</div>
	</div>
</header>
