<div class="tab attributes" data-group="primary" data-tab="attributes">

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.TEMPLATES.Apparel_Type"}}
		</label>

		{{#select system.apparelType}}
			<select name="system.apparelType">
				{{#each FALLOUT.APPAREL_TYPES as |item key|}}
					<option value="{{key}}">
						{{localize item}}
					</option>
				{{/each}}
			</select>
		{{/select}}
	</div>

	<div class="flexrow resource-row">
		<label
			class="field-label"
			style="align-self: baseline;"
		>
			{{localize "FALLOUT.TEMPLATES.Resistances"}}
		</label>

		<div>
			<ol class="items-list">
				{{#each system.resistance as |item key|}}
					<li style="padding: 5px; border-bottom: 1px solid #637294; background-color: rgba(0, 0, 0, 0.2);">
						<div class="flexrow">
							<input
								class="num-short-3"
								name="system.resistance.{{key}}"
								type="number"
								value="{{item}}"
							>
							&nbsp;&nbsp;
							<div class="item-name flexlarge">
								<label class="field-label">
									<span class="fo-{{key}}"></span>
									{{localize (concat "FALLOUT.RESISTANCE." key)}}
								</label>
							</div>
						</div>
					</li>
				{{/each}}
			</ol>
		</div>
	</div>

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.TEMPLATES.Locations"}}
		</label>

		<input
			class="localization"
			name="system.location"
			placeholder="{{localize "FALLOUT.TEMPLATES.Apparel_Mod_Placeholder"}}"
			type="text"
			value="{{system.location}}"
		>
	</div>

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.HEALTH.health"}}
		</label>
		<input
			class=""
			name="system.health.value"
			type="number"
			value="{{system.health.value}}"
		>
	</div>

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.UI.Perks"}}
		</label>
		<input
			name="system.perks"
			type="text"
			value="{{system.perks}}"
		>
	</div>

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.actor.inventory.materials.junk"}}
		</label>
		<input
			class="input-checkbox"
			data-dtype="Boolean"
			name="system.isJunk"
			type="checkbox"
			{{checked system.isJunk}}
		/>
	</div>

	<div class="resource-row">
		<h3 class="resource-label">
			{{localize "FALLOUT.TEMPLATES.Effects"}}
		</h3>
		<div class="description-field">
			{{editor effectHTML
				target="system.effect"
				button=true
				owner=owner
				editable=editable
			}}
		</div>
	</div>

</div>
