<div>
	<div class="resource-plate-header settlement settlement-{{attribute}}">
		<label class="label center" for="system.{{attribute}}.value">
			{{label}}
		</label>
	</div>
	{{#ifCond attribute "===" "people"}}
		<div class="grid-3-columns" style="grid-template-columns: 1fr min-content 1fr; font-size: 18px;">
			<input
				data-dtype="Number"
				data-tooltip="{{localize 'FALLOUT.Actor.Warnings.DerivedValue'}}"
				min="0"
				name="system.{{attribute}}.value"
				{{#ifCond data.value ">" data.max}}
					style="font-size: 18px; text-align: center; color: lightpink;"
				{{else}}
					style="font-size: 18px; text-align: center;"
				{{/ifCond}}
				type="number"
				value="{{data.value}}"
				disabled
			/>
			<div style="align-self: center;">/</div>
			<input
				data-dtype="Number"
				style="font-size: 18px; text-align: center;"
				type="number"
				data-tooltip="{{rangeError}}"
				value="{{data.max}}"
				disabled
			/>
		</div>
	{{else}}
		<input
			data-dtype="Number"
			min="0"
			name="system.{{attribute}}.value"
			{{#ifCond data.value "<" data.min}}
				style="font-size: 18px; text-align: center; color: lightpink;"
			{{else}}
				style="font-size: 18px; text-align: center;"
			{{/ifCond}}
			type="number"
			value="{{round data.value}}"
		/>
	{{/ifCond}}
</div>
