<div>
	<div class="resource-plate-header settlement settlement-{{attribute}}">
		<label class="label center" for="system.attributes.{{attribute}}.value">
			{{label}}
		</label>
	</div>
	<input
		data-dtype="Number"
		min="0"
		name="system.attributes.{{attribute}}.value"
		style="font-size: 18px; text-align: center;"
		type="number"
		value="{{value}}"
	/>
</div>
