<div class="box padding5">
	<ol class="items-list">
		<li class="item consumable flexrow items-header">
			<div class="flexrow flexlarge item-name upperC">
				{{localize 'FALLOUT.TEMPLATES.Stockpile'}}
			</div>
		</li>
		{{#each stockpile}}
			{{> actor/_shared-partials/simple-expandable-item
				item=this
				basicControlsOnly=true
			}}
		{{/each}}
	</ol>
	<div class="box no-padding" style="margin-top: 5px; margin-bottom: 0px;">
		<div class="flexrow align-mid">
			<div class="flex-center">
				<label>
					{{system.storage.base}}
					{{localize "FALLOUT.TEMPLATES.lbs"}}
					+
				</label>
				<input
					type="number"
					name="system.storage.mod"
					class="num-short num-short-3"
					value="{{system.storage.mod}}"
				>
				<label>
					=
					{{localize "FALLOUT.TEMPLATES.MAX"}}:
					{{system.storage.value}}
					{{localize "FALLOUT.TEMPLATES.lbs"}}
				</label>
			</div>
			<div style="text-align: right;">
				<label>
					{{system.storage.total}} / {{system.storage.value}}
					{{localize "FALLOUT.TEMPLATES.lbs"}}
				</label>
			</div>
		</div>
	</div>
</div>
