<div class="tab attributes" data-group="primary" data-tab="crafting">

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.TEMPLATES.complexity"}}
		</label>

		<input name="system.crafting.complexity"
			   type="text"
			   value="{{system.crafting.complexity}}" />
	</div>

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.UI.Rarity"}}
		</label>
		<select name="system.crafting.rarity">
			<option value="common"
					{{#ifCond system.crafting.rarity "===" "common"}}
					selected
					{{/ifCond}}>
				{{localize "FALLOUT.actor.inventory.materials.common"}}
			</option>
			<option value="uncommon"
					{{#ifCond system.crafting.rarity "===" "uncommon"}}
					selected
					{{/ifCond}}>
				{{localize "FALLOUT.actor.inventory.materials.uncommon"}}
			</option>
			<option value="rare"
					{{#ifCond system.crafting.rarity "===" "rare"}}
					selected
					{{/ifCond}}>
				{{localize "FALLOUT.actor.inventory.materials.rare"}}
			</option>
		</select>
	</div>

	<div class="resource-row flexrow">
		<label class="field-label"
			   for="system.skill">
			{{localize "FALLOUT.TEMPLATES.Skill"}}
		</label>
		<select name="system.crafting.skill">
			<option value="">&mdash;</option>
			{{selectOptions availableSkills
					selected=system.crafting.skill
			}}
		</select>
	</div>

	<div class="flexrow resource-row">
		<label class="field-label">
			{{localize "FALLOUT.UI.Perks"}}
		</label>

		<input type="text"
			   name="system.crafting.perks"
			   value="{{system.crafting.perks}}" />
	</div>
</div>
