<div class="fallout-chat-message">
	<div class="content">
		<h2>{{title}}</h2>
		<p>{{body}}</p>
		<div style="font-size: 0.75rem;">
			{{#if hungerChanged}}
				<div>
					<strong>
						{{localize "FALLOUT.CHAT_MESSAGE.conditions.hunger_level"}}:
					</strong>
					{{fromConfig "HUNGER_BY_NUMBER" hunger}}
					{{#ifCond hungerFatigueChange ">" 0}}
						(+{{hungerFatigueChange}} {{localize 'FALLOUT.TEMPLATES.conditions.fatigue'}})
					{{/ifCond}}
				</div>
			{{/if}}
			{{#if thirstChanged}}
				<div>
					<strong>
						{{localize "FALLOUT.CHAT_MESSAGE.conditions.thirst_level"}}:
					</strong>
					{{fromConfig "THIRST_BY_NUMBER" thirst}}
					{{#ifCond thirstFatigueChange ">" 0}}
						(+{{thirstFatigueChange}} {{localize 'FALLOUT.TEMPLATES.conditions.fatigue'}})
					{{/ifCond}}
				</div>
			{{/if}}
			{{#if sleepChanged}}
				<div>
					<strong>
						{{localize "FALLOUT.CHAT_MESSAGE.conditions.sleep_level"}}:
					</strong>
					{{fromConfig "SLEEP_BY_NUMBER" sleep}}
					{{#ifCond sleepFatigueChange ">" 0}}
						(+{{sleepFatigueChange}} {{localize 'FALLOUT.TEMPLATES.conditions.fatigue'}})
					{{/ifCond}}
				</div>
			{{/if}}
			{{#if fatigueChanged}}
				<div>
					<strong>
						{{localize "FALLOUT.CHAT_MESSAGE.conditions.fatigue_level"}}:
					</strong>
					{{fatigue}}
				</div>
			{{/if}}
		</div>
	</div>
</div>
