<div class="fallout-chat-message">
	<div class="content">
		<h2>{{title}}</h2>
		<p>{{body}}</p>
		<p>{{{effect}}}</p>
		{{#if showHungerAndThirst}}
		<div style="font-size: 0.75rem;">
			<div>
				<strong>
					{{localize "FALLOUT.CHAT_MESSAGE.conditions.hunger_level"}}:
				</strong>
				{{fromConfig "HUNGER_BY_NUMBER" hunger}}
			</div>
			<div>
				<strong>
					{{localize "FALLOUT.CHAT_MESSAGE.conditions.thirst_level"}}:
				</strong>
				{{fromConfig "THIRST_BY_NUMBER" thirst}}
			</div>
		</div>
		{{/if}}
	</div>
</div>
