<div class="fallout chat-item">

	{{#if img}}
		<div style="text-align: center; margin-bottom: 0.5rem;">
			<img class="item-img" src="{{img}}" title="{{name}}" />
		</div>
	{{/if}}

	<div class="item-name">
		<h2 style="border-bottom: none;"><strong>{{name}}</strong></h2>
	</div>

	{{#ifCond description '!==' ''}}
		<div class="description">
			{{{description}}}
		</div>
		<hr>
	{{/ifCond}}

	<!-- * SKILL * -->
	{{#if isSkill}}
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Skill_Value"}}: </strong>{{value}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Skill_Tag"}}: </strong>{{tag}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Default_Attribute"}}: </strong><span style="text-transform: uppercase;">{{defaultAttribute}}</span></p>
	{{/if}}

	<!-- * PERK * -->
	{{#if isPerk}}
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Rank"}}: </strong>{{rank.value}}/{{rank.max}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Requirements"}}: </strong>{{requirements}}</p>
	{{/if}}

	<!-- * WEAPONS * -->
	{{#if isWeapon}}
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.Weapon_Type"}}:</strong>
			{{fromConfig "WEAPON_TYPES" weaponType}}
		</p>
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.DAMAGE_TYPE"}}:</strong>
			{{#each damage.damageType as |dmgType key|}}
				{{#if (eq dmgType true)}}
					{{fromConfig "DAMAGE_TYPES" key}}
					<i class="fo-{{key}}"></i>
				{{/if}}
			{{/each}}
		</p>
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.DAMAGE"}}:</strong>
			{{damage.rating}}
		</p>
		<p class="capitalize">
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.RANGE"}}:</strong>
			{{range}}
		</p>
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.FIRE_RATE"}}:</strong>
			{{fireRate}}
		</p>
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.AMMO"}}:</strong>
			{{ammo}}
		</p>
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.Tear"}}:</strong>
			{{tear}}
		</p>
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.WEAPON_QUALITIES"}}:</strong>
			{{{listWeaponQualities damage.weaponQuality}}}
		</p>
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.Damage_Effects"}}:</strong>
			{{{listDamageEffects damage.damageEffect}}}
		</p>
	{{/if}}
	<!-- WEAPONS END -->

	<!-- * APPAREL * -->
	{{#if isApparel}}
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Armor_Type"}}: </strong><span>{{fromConfig "APPAREL_TYPES" appareltype}}</span></p>
		<p><strong class="upperC">{{localize "FALLOUT.equipped"}}: </strong>{{equipped}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Locations"}}: </strong>
		{{#each location as |location key|}}
			{{#if location}}{{localize (concat "FALLOUT.BODYLOCATION.character." key)}}, {{/if}}
		{{/each}}
		</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Resistances"}}: </strong> </p>
		<ul>
		{{#each resistance as |resistance key|}}
			<li>{{resistance}} {{localize (concat "FALLOUT.RESISTANCE." key)}} <i class="fo-{{key}}"></i></li>
		{{/each}}
		</ul>
		{{#if (eq appareltype "powerArmor")}}
		<p><strong class="upperC">{{localize "FALLOUT.HEALTH.health"}}: </strong>{{health.value}} / {{health.max}} </p>
		<p><strong class="upperC">{{localize "FALLOUT.powered"}}: </strong>{{powered}} </p>
		{{/if}}
	{{/if}}

	<!-- * WEAPON MODS -->
	{{#if isWeaponMod}}
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.Weapon_Type"}}:</strong>
			{{fromConfig "WEAPON_TYPES" weaponType}}
		</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Mod_Type"}}: </strong>{{modType}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Name_Prefix"}}: </strong>{{namePrefix}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.UI.Perks"}}: </strong>{{perks}}</p>
	{{/if}}

	<!-- * APPAREL MODS -->
	{{#if isApparelMod}}
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Apparel_Type"}}: </strong>{{fromConfig "APPAREL_TYPES" appareltype}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Resistances"}}: </strong> </p>
		<ul>
			{{#each resistance as |resistance key|}}
				<li>{{resistance}} {{localize (concat "FALLOUT.RESISTANCE." key)}} <i class="fo-{{key}}"></i></li>
			{{/each}}
		</ul>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Locations"}}: </strong>{{location}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.HEALTH.health"}}: </strong>{{health.value}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.UI.Perks"}}: </strong>{{perks}}</p>
	{{/if}}

	<!-- * CONSUMABLES -->
	{{#if isConsumable}}
		<p>
			<strong class="upperC">{{localize "FALLOUT.TEMPLATES.Consumable_Type"}}:</strong>
			{{localize (toUpperCase (concat "FALLOUT." consumableType))}}
		</p>
		{{#ifCond consumableType '!==' 'other'}}
			<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.HP_Healed"}}: </strong>{{hp}}</p>
			<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Radiation_Healed"}}: </strong>{{radiation}}</p>
			{{#ifCond consumableType '===' 'chem'}}
				<p>
					<strong class="upperC">{{localize "FALLOUT.TEMPLATES.Duration"}}:</strong>
					{{duration}}
				</p>
				<p class="capitalize">
					<strong class="upperC">{{localize "FALLOUT.TEMPLATES.Addictive"}}:</strong>
					{{addictive}}
				</p>
				{{#if addictive}}
					<p>
						<strong class="upperC">{{localize "FALLOUT.TEMPLATES.AddictionNumber"}}:</strong>
						{{addiction}}
					</p>
				{{/if}}
			{{else}}
				{{#ifCond consumableType '===' 'beverage'}}
					<p class="capitalize"><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Alcoholic"}}: </strong>{{alcoholic}}</p>
				{{/ifCond}}
				<p class="capitalize"><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Irradiated"}}: </strong>{{irradiated}}</p>
			{{/ifCond}}
		{{/ifCond}}
	{{/if}}

	<!-- * BOOKS -->
	{{#if isBook}}
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Publication"}}: </strong>{{publication}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Learned"}}: </strong>{{learned}}</p>
	{{/if}}

	<!-- * MISCELANY -->

	<!-- * DISEASE -->
	{{#if isDisease}}
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Duration"}}: </strong>{{duration}}</p>
	{{/if}}

	<!-- * ROBOT ARMOR -->
	{{#if isRobotArmor}}
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Armor_Type"}}: </strong>{{localize (concat "FALLOUT.APPAREL." appareltype)}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.equipped"}}: </strong>{{equipped}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Locations"}}: </strong>
		{{#each location as |location key|}}
			{{#if location}}{{localize (concat "FALLOUT.BODYLOCATION.robot." key)}}, {{/if}}
		{{/each}}
		</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Resistances"}}: </strong> </p>
		<ul>
		{{#each resistance as |resistance key|}}
			<li>{{resistance}} {{localize (concat "FALLOUT.RESISTANCE." key)}} <i class="fo-{{key}}"></i></li>
		{{/each}}
		</ul>
		<p><strong class="upperC">{{localize "FALLOUT.UI.CarryWeight"}}: </strong>{{carry}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.UI.Perks"}}: </strong>{{perks}}</p>
	{{/if}}

	<!-- * ROBOT MODULE -->
	{{#if isRobotMod}}
	<p><strong class="upperC">{{localize "FALLOUT.UI.Perks"}}: </strong>{{perks}}</p>
	{{/if}}

	{{#if isSettlementItem}}
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Type"}}: </strong>{{fromConfig "SETTLEMENT_ITEMS" itemType}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.UI.Rarity"}}: </strong>{{fromConfig "RARITIES" rarity}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.Skill"}}: </strong>{{skills}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.UI.Perks"}}: </strong>{{perks}}</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.ConstructionTime"}}: </strong>{{constructionTime}} day/s</p>
		<p><strong class="upperC">{{localize "FALLOUT.TEMPLATES.MaterialsRequired"}}:</strong></p>
		<ul>
			{{#each materials}}
				{{#ifCond this.value ">" 0}}
					<li>
						<span>{{this.value}} {{this.label}}</span>
					</li>
				{{/ifCond}}
			{{/each}}
		</ul>
	{{/if}}

	<!-- * MODS TEXT -->
	{{#if mods}}
		<p>
			<strong class="upperC">
				{{localize "FALLOUT.MODS.mods"}} {{mods.current}}/{{mods.max}}:
			</strong>
		</p>
		{{{mods.list}}}
	{{/if}}

	<!-- * EFFECT TEXT -->
	{{#if effect}}
		{{#ifCond effect '!==' ''}}
			<p>
				<strong class="upperC">{{localize "FALLOUT.TEMPLATES.Effect"}}:</strong>
			</p>
			{{{effect}}}
		{{/ifCond}}
	{{/if}}

	{{#if isPhysical}}
		{{#if showQuantity}}
			<hr>
			<div class="flex flex-between" style="font-size: 0.75rem;">
				<p><strong class="upperC">{{localize "FALLOUT.UI.Qty"}}:</strong> {{quantity}}</p>
				<p><strong class="upperC">{{localize "FALLOUT.UI.Weight"}}:</strong> {{weight}}</p>
				<p><strong class="upperC">{{localize "FALLOUT.UI.Cost"}}:</strong> {{cost}}</p>
				<p><strong class="upperC">{{localize "FALLOUT.UI.Rarity"}}:</strong> {{rarity}}</p>
			</div>
		{{/if}}
	{{/if}}

	<hr>
</div>
