<div class="resource-row">
	<label class="field-label">
		{{localize "FALLOUT.TEMPLATES.Damage_Effects"}}
	</label>
	<div class="grid-4-columns item-list" style="margin: 4px;">
		{{#each damageEffects}}
			<div
				{{#if this.active}}
					class="flexrow toggle-label active"
				{{else}}
					class="flexrow toggle-label"
				{{/if}}
				data-tooltip="{{fromConfig "DAMAGE_EFFECT_TOOLTIPS" this.key}}"
			>
				<label style="align-self: center;">
					<input
						name="system.damage.damageEffect.{{this.key}}.value"
						type="checkbox"
						{{#if this.active}}
							checked
						{{/if}}
						{{#if modded}}
						   disable
						   data-tooltip={{localize FALLOUT.Item.Warnings.Modded}}
						{{/if}}
					>
					{{this.label}}
				</label>
				{{#if this.hasRank}}
					<input
						class="num-short-2"
						name="system.damage.damageEffect.{{this.key}}.rank"
						type="number"
						value="{{this.rank}}"
						{{#if modded}}
						   disable
						   data-tooltip={{localize FALLOUT.Item.Warnings.Modded}}
						{{/if}}
					>
				{{/if}}
			</div>
		{{/each}}
	</div>
</div>
