<li class="item weapon_mod"
	data-item-id="{{item._id}}">
	<div class="flexrow" style="flex-wrap: nowrap;">
		<div class="item-name flexshrink expandable-info" style="flex: 0 0 30%;">
			<div class="item-image" style="max-width: 24px;max-height: 24px;">
				<img src="{{item.img}}"
					 title="{{item.name}}"
					 style="width: 100%;height: auto;" />
			</div>
			<h4 class="resource-label">
				{{item.name}}
			</h4>
		</div>
		<div class="item-info" style="flex: 1 1 auto;">
			<span>{{{item.system.modEffects.summary}}}</span>
		</div>
		<div class=" item-controls" style="flex: 1 0 5%;">
			<a {{#if item.system.attached}}
			   class="item-control toggle-mod"
			   {{else}}
			   class="item-control toggle-mod item-unequipped"
			   {{/if}}
			   title='{{localize "FALLOUT.attached"}}'>
				<i class="fa-solid fa-gun"></i>
			</a>
			{{#unless item.system.attached}}
			<a class="item-control item-delete"
			   title="Delete Item">
				<i class="fas fa-trash"></i>
			</a>
			{{/unless}}
		</div>
	</div>
</li>
