<div class="tab abilities" data-group="primary" data-tab="abilities">
	<section class="grid-2-columns">
		<div class="left-column">
			{{#if isCreature}}
			{{> actor/npc/partials/attributes_creature }}
			{{else}}
			{{#if isVehicle}}
			{{> actor/vehicle/partials/attributes }}
			{{else}}
			{{> actor/npc/partials/attributes_npc }}
			{{/if}}
			{{/if}}

			{{#if isVehicle}}
			<div class="flexrow resource-row">
				{{> actor/npc/partials/hp }}
				{{> actor/npc/partials/speed }}
			</div>
			{{else}}
			<div class="flexrow resource-row">
				{{> actor/npc/partials/hp }}
				{{> actor/npc/partials/initiative }}
				{{> actor/npc/partials/defense }}
			</div>
			{{/if}}

			{{#if isNPC}}
				<div class="flexrow resource-row">
					{{> actor/npc/partials/carry-weight }}
					{{> actor/npc/partials/melee-bonus }}
				</div>
			{{/if}}

			{{#if isVehicle}}
				{{> actor/vehicle/partials/body
					FALLOUT=FALLOUT
				}}
			{{else}}
				{{> actor/npc/partials/body
					FALLOUT=FALLOUT
				}}
			{{/if}}

			{{#unless isCreature}}
			{{#unless isVehicle}}
			{{> actor/npc/partials/settlement }}
			{{/unless}}
			{{/unless}}
		</div>

		<div class="right-column">
			{{> actor/_shared-partials/weapons
				nameLabel=(localize "FALLOUT.TEMPLATES.Attack")
				basicControlsOnly=true
			}}

			{{#if isCreature}}
				{{> actor/npc/partials/special-abilities }}
			{{else}}
				{{#if isVehicle}}
					{{> actor/vehicle/partials/qualities}}
				{{else}}
					{{> actor/_shared-partials/skills}}
				{{/if}}
			{{/if}}
		</div>

	</section>
</div>
