<div class="flexrow resource-row">
	<div class="box no-padding bgOdd">
		<h4 class="box-header text-center upperC">{{localize "FALLOUT.VEHICLE.scale"}}</h4>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.scale.value" value="{{system.scale.value}}">
		</div>
	</div>
	<div class="box no-padding bgEven">
		<h4 class="box-header text-center upperC">
			{{localize "FALLOUT.VEHICLE.cover"}}
		</h4>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.cover.value" value="{{system.cover.value}}">
			&nbsp;
			<a data-action="roll-vehicle-cover">
				<span class="fo-pip-boy fo-blue"></span>
			</a>
		</div>
	</div>
	<div class="box no-padding bgOdd" style="margin-right: 5px;">
		<h4 class="box-header text-center upperC">{{localize "FALLOUT.VEHICLE.impact"}}</h4>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.impact.value" value="{{system.impact.value}}">
			&nbsp;
			<a data-action="roll-vehicle-impact">
				<span class="fo-pip-boy fo-blue"></span>
			</a>
		</div>
	</div>
	<div class="box no-padding bgEven">
		<h4 class="box-header text-center upperC">{{localize "FALLOUT.VEHICLE.passengers"}}</h4>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.passengers.value" value="{{system.passengers.value}}">
		</div>
	</div>
</div>
