<div
	class="box no-padding"
	style="margin-top: 5px; margin-bottom: 0px;"
>
	<div
		class="flexrow align-mid"
		style="margin: 5px; padding: 5px;"
	>
		<span>
			<label>
				{{localize 'FALLOUT.UI.CAPS'}}
				<input
					type="text"
					class="num-short-3"
					name="system.currency.caps"
					value="{{system.currency.caps}}"
				>
			</label>
		</span>
		<div style="text-align: right;">
			{{system.carryWeight.total}} /
			{{system.carryWeight.base}}
			{{#if useKgs}}
			{{localize "FALLOUT.TEMPLATES.kgs"}}
			{{else}}
			{{localize "FALLOUT.TEMPLATES.lbs"}}
			{{/if}}
		</div>
	</div>
</div>
