<div class="flexrow resource-row">
	<div class="box no-padding bgOdd">
		<h3 class="box-header text-center">{{localize "FALLOUT.CREATURE.body"}}</h3>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.body.value" value="{{system.body.value}}">
		</div>
	</div>
	<div class="box no-padding bgEven" style="margin-right: 5px;">
		<h3 class="box-header text-center">{{localize "FALLOUT.CREATURE.mind"}}</h3>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.mind.value" value="{{system.mind.value}}">
		</div>
	</div>

	<div class="box no-padding bgOdd">
		<h3 class="box-header text-center">{{localize "FALLOUT.CREATURE.melee"}}</h3>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.melee.value" value="{{system.melee.value}}">
		</div>
	</div>
	<div class="box no-padding bgEven">
		<h3 class="box-header text-center">{{localize "FALLOUT.CREATURE.guns"}}</h3>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.guns.value" value="{{system.guns.value}}">
		</div>
	</div>
	<div class="box no-padding bgOdd">
		<h3 class="box-header text-center">{{localize "FALLOUT.CREATURE.other"}}</h3>
		<div class="text-center">
			<input class="num-short-2" type="number" name="system.other.value" value="{{system.other.value}}">
		</div>
	</div>
</div>
