<div class="box no-padding bgOdd">
	<div style="font-size: 16px; display: grid; grid-template-columns: 2fr 40% repeat(6, 1fr); background-color: black; padding: 3px 5px; margin-bottom: 3px; color:white">
		<div class="flex align-mid">#</div>
		<div>
			<select name="system.bodyType" style="font-size: 0.75rem;">
				{{selectOptions FALLOUT.BODY_TYPES
					selected=system.bodyType
				}}
			</select>
		</div>
		<div class="flex align-mid align-center">
			<i class="fo-physical resistance-icon" data-tooltip="{{localize 'FALLOUT.RESISTANCE.physical'}}"></i>
		</div>
		<div class="flex align-mid align-center">
			<i class="fo-energy resistance-icon" data-tooltip="{{localize 'FALLOUT.RESISTANCE.energy'}}"></i>
		</div>
		<div class="flex align-mid align-center">
			<a
				class="immune-toggle"
				data-immunity-type="radiation"
			>
				<i
					class="fo-radiation resistance-icon"
					data-tooltip="{{localize 'FALLOUT.RESISTANCE.radiation'}} ({{localize 'FALLOUT.RESISTANCE.ClickToToggleImmunity'}})"
					{{#if system.immunities.radiation}}
						style="color: darkgray";
					{{/if}}
				></i>
			</a>
		</div>
		<div class="flex align-mid align-center">
			<a
				class="immune-toggle"
				data-immunity-type="poison"
			>
				<i
					class="fo-poison resistance-icon"
					data-tooltip="{{localize 'FALLOUT.RESISTANCE.poison'}} ({{localize 'FALLOUT.RESISTANCE.ClickToToggleImmunity'}})"
					{{#if system.immunities.poison}}
						style="color: darkgray";
					{{/if}}
				></i>
			</a>
		</div>
		<div class="flex align-mid align-center">
			<div
				style="background-image: url(systems/fallout/assets/ui/drop.svg); width: 1rem; background-repeat: no-repeat"
				data-tooltip="{{localize 'FALLOUT.TEMPLATES.Injuries'}}"
			>
				&nbsp;
			</div>
		</div>
		<div class="flex align-mid align-center">
			<div
				style="background-image: url(systems/fallout/assets/ui/sticking-plaster.svg); width: 1rem; background-repeat: no-repeat"
				data-tooltip="{{localize 'FALLOUT.TEMPLATES.TreatedInjuries'}}"
			>
				&nbsp;
			</div>
		</div>
	</div>

	{{#each system.body_parts as |part key|}}
		<div style="display: grid; grid-template-columns: 2fr 40% repeat(6, 1fr); padding: 1px 5px; color:rgba(255, 255, 255, 0.6)">
			<div>
				{{fromConfig "BODY_VALUES" key}}
			</div>
			<div>
				{{localize (concat 'FALLOUT.BodyTypes.' ../system.bodyType '.' key)}}
			</div>
			{{> bodyPartControl
				color="#eee787"
				backgroundColor="#325885"
				systemPath=(concat "system.body_parts." key ".resistance.physical")
				value=part.resistance.physical
			}}
			{{> bodyPartControl
				color="#eee787"
				backgroundColor="#325885"
				systemPath=(concat "system.body_parts." key ".resistance.energy")
				value=part.resistance.energy
			}}
			{{> bodyPartControl
				color="#eee787"
				backgroundColor="#325885"
				systemPath=(concat "system.body_parts." key ".resistance.radiation")
				value=part.resistance.radiation
				immune=../system.immunities.radiation
			}}
			{{> bodyPartControl
				color="#eee787"
				backgroundColor="#325885"
				systemPath=(concat "system.body_parts." key ".resistance.poison")
				value=part.resistance.poison
				immune=../system.immunities.poison
			}}
			{{> bodyPartControl
				color="white"
				backgroundColor="#ff0000"
				systemPath=(concat "system.body_parts." key ".injuryOpenCount")
				value=part.injuryOpenCount
			}}
			{{> bodyPartControl
				color="white"
				backgroundColor="#a46e30"
				systemPath=(concat "system.body_parts." key ".injuryTreatedCount")
				value=part.injuryTreatedCount
			}}
		</div>
	{{/each}}

	{{!-- <div class="flexrow resource-row">
		<span
			class="align-mid"
			style="display: flex;"
		>
			<label
				for="system.resistance.poison.locations"
				style="margin-right: 5px; width: 20px; font-size: 20px;"
			>
				<a
					class="immune-toggle"
					data-immunity-type="poison"
				>
					<i
						class="fo-poison resistance-icon"
						{{#if system.immunities.poison}}
							style="color: darkgray";
						{{/if}}
						data-tooltip="{{localize 'FALLOUT.RESISTANCE.poison'}} ({{localize 'FALLOUT.RESISTANCE.ClickToToggleImmunity'}})"
					></i>
				</a>
			</label>
			{{#if system.immunities.poison}}
				<input
					type="text"
					data-dtype="String"
					class="flex3"
					style="text-align: center; font-style: italic; font-size: 12px;"
					value="{{localize 'FALLOUT.RESISTANCE.Immunity.poison'}}"
					disabled
				>
			{{else}}
				<input
					type="number"
					data-dtype="Number"
					class="flex3"
					name="system.resistance.poison.value"
					value="{{system.resistance.poison.value}}"
					placeholder="0"
				>
			{{/if}}
		</span>
	</div> --}}
</div>

{{#*inline "bodyPartControl"}}
	<div>
		<input
			class="num-short-2 npc-bodypart-control"
			{{#if immune}}
				style="{{concat 'border: none; color: ' color '; background-color: ' backgroundColor '; font-size: 24px;' }}"
				data-dtype="String"
				type="text"
				value="&infin;"
				disabled
			{{else}}
				min="0"
				name={{systemPath}}
				{{#ifCond value '>' 0}}
					style="{{concat 'border: none; color: ' color '; background-color: ' backgroundColor ';'}}"
				{{else}}
					style="border:none; color:#0f1b28;"
				{{/ifCond}}
				data-dtype="Number"
				type="number"
				value="{{value}}"
			{{/if}}
		>
	</div>
{{/inline}}
