<div class="box no-padding bgOdd">
	<h4 class="box-header text-center upperC">
		{{localize "FALLOUT.UI.CarryWeight"}}
	</h4>
	<div class="text-center">
		<label>
			<input
				class="num-short-3"
				type="number"
				name="system.carryWeight.base"
				value="{{system.carryWeight.base}}"
			>
			{{#if useKgs}}
				{{localize "FALLOUT.TEMPLATES.kgs"}}
			{{else}}
				{{localize "FALLOUT.TEMPLATES.lbs"}}
			{{/if}}
		</label>
	</div>
</div>
