<!--<div class="box no-padding bgOdd">
	<h4 class="box-header text-center upperC">{{localize "FALLOUT.UI.speed"}}</h4>
	<h5 class="box-header text-center upperC">{{localize "FALLOUT.VEHICLE.zone_speed"}} / {{localize "FALLOUT.VEHICLE.travel_speed"}}</h5>
	<div class="text-center">
		<input class="num-short-2" type="number" name="system.zone_speed.value" value="{{system.zone_speed.value}}">
		<label class="text-center" style="line-height: 1.5;">&nbsp;/&nbsp;</label>
		<input class="num-short-2" type="number" name="system.travel_speed.value" value="{{system.travel_speed.value}}">
	</div>
</div>-->

<div class="box no-padding bgOdd">
	<h4 class="box-header text-center upperC">{{localize "FALLOUT.VEHICLE.zone_speed"}} / {{localize "FALLOUT.VEHICLE.travel_speed"}} {{localize "FALLOUT.UI.speed"}}</h4>
	<div class="text-center">
		<input class="num-short-3" type="number" name="system.zone_speed.value" value="{{system.zone_speed.value}}">
		<label class="text-center" style="line-height: 1.5;">&nbsp;/&nbsp;</label>
		<input class="num-short-3" type="number" name="system.travel_speed.value" value="{{system.travel_speed.value}}">
	</div>
</div>
