<form class="{{cssClass}}" autocomplete="off">
	{{> item/parts/item-header}}

	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "FALLOUT.TEMPLATES.Attributes"}}</a>
		<a class="item" data-tab="description">{{localize "FALLOUT.TEMPLATES.Description"}}</a>
	</nav>

	<section class="sheet-body">
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="flexrow resource-row">
				<label for="system.consumableType" class="resource-label">
					{{localize "FALLOUT.TEMPLATES.Consumable_Type"}}
				</label>
				{{#select system.consumableType}}
					<select name="system.consumableType">
						{{#each FALLOUT.consumableTypes as |type key|}}
							<option value="{{key}}">
								{{localize type}}
							</option>
						{{/each}}
					</select>
				{{/select}}
			</div>

			{{#ifCond system.consumableType '!==' 'other' }}
				{{#ifCond system.consumableType '===' 'chem' }}
					<div class="flexrow resource-row">
						<label for="system.duration" class="resource-label">
							{{localize "FALLOUT.TEMPLATES.Duration"}}
						</label>
						<input type="text" name="system.duration" value="{{system.duration}}">
					</div>
					<div class="flexrow resource-row">
						<label for="system.addictive" class="resource-label">
							{{localize "FALLOUT.TEMPLATES.Addictive"}}
						</label>
						<input type="text" name="system.addictive" value="{{system.addictive}}">
					</div>
				{{else}}
					<div class="flexrow resource-row">
						<label for="system.hp" class="resource-label">
							{{localize "FALLOUT.TEMPLATES.HP_Healed"}}
						</label>
						<input type="number" name="system.hp" value="{{system.hp}}">
					</div>
					<div class="flexrow resource-row">
						<label for="system.irradiated" class="resource-label">
							{{localize "FALLOUT.TEMPLATES.Irradiated"}}
						</label>
						<input type="checkbox" name="system.irradiated" {{#ifCond system.irradiated '==' true}}checked{{/ifCond}}>
					</div>
					{{#ifCond system.consumableType '===' 'beverage' }}
					<div class="flexrow resource-row">
							<label for="system.alcoholic" class="resource-label">
								{{localize "FALLOUT.TEMPLATES.Alcoholic"}}
							</label>
							<input type="checkbox" name="system.alcoholic" {{#ifCond system.alcoholic '==' true}}checked{{/ifCond}}>
						</div>
					{{/ifCond}}
				{{/ifCond}}
			{{/ifCond}}

			<h3 class="resource-label">
				{{localize "FALLOUT.TEMPLATES.Effect"}}
			</h3>
			<div class="description-field">
				{{editor effectHTML
					button=true
					editable=editable
					owner=owner
					target="system.effect"
				}}
			</div>
		</div>

		<div class="tab description" data-group="primary" data-tab="description">
			{{editor descriptionHTML
				button=true
				editable=editable
				owner=owner
				rollData=rollData
				target="system.description"
			}}
		</div>
	</section>
</form>
