<form class="{{cssClass}}" autocomplete="off">
    {{> item/_shared-partials/header}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "FALLOUT.TEMPLATES.Attributes"}}</a>
        <a class="item" data-tab="mods">{{localize "FALLOUT.MODS.mods"}}</a>
        <a class="item" data-tab="description">{{localize "FALLOUT.TEMPLATES.Description"}}</a>
        <a class="item" data-tab="effects">{{localize "FALLOUT.TEMPLATES.Effects"}}</a>
		<a class="item" data-tab="source">{{localize "FALLOUT.TEMPLATES.Source"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>

        {{!-- Mods Tab --}}
        <div class="tab" data-group="primary" data-tab="mods">
            <div class="flexrow resource-row align-mid">
                <label class="resource-label">{{localize "FALLOUT.MODS.mods"}}</label>
                <div class="flexrow align-mid">
                    <span>
                        <label for="system.mods.current">{{localize "FALLOUT.TEMPLATES.current"}}</label>
                        <input type="number" name="system.mods.current" class="num-short-2" value="{{system.mods.current}}">
                    </span>
                    <span class="text-center">/</span>
                    <span>
                        <label for="system.mods.max">{{localize "FALLOUT.TEMPLATES.max"}}</label>
                        <input type="number" name="system.mods.max" class="num-short-2" value="{{system.mods.max}}">
                    </span>
                </div>
            </div>
            <div class="description-field resource-row">
                {{editor modsListHTML target="system.mods.list" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="resource-row align-mid">
                <label class="resource-label">{{localize "FALLOUT.TEMPLATES.Armor_Type"}} &nbsp;</label>
                <select name="system.apparelType">
                    {{#select system.apparelType}}
					<option value="">&mdash;</option>
                    {{#each FALLOUT.ROBOT_APPAREL_TYPE as |apparelType key|}}
                    <option class="capitalized" value="{{key}}">{{localize apparelType}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <hr />
            <div class="grid grid-3col">
                <div class="locations pad-5">
                    <h4 class="resource-header">{{localize "FALLOUT.TEMPLATES.Locations"}}</h4>
                    {{#each system.location as |isChecked key|}}
                    <div class="location flexrow align-mid">
                        <label class="checkbox-label">{{localize (concat 'FALLOUT.BODYLOCATION.robot.' key)}}</label>
                        <input class="input-checkbox" type="checkbox" name="system.location.{{key}}" {{checked isChecked}} data-dtype="Boolean" />
                    </div>
                    {{/each}}
                </div>
                <div class="resistances pad-5">
                    <h4 class="resource-header">{{localize "FALLOUT.TEMPLATES.Resistances"}}</h4>
                    {{#each system.resistance as |resistance key|}}
                    <div class="flexrow resource-row align-mid">
                        <label for="system.resistance.{{key}}" class="capitalized">{{localize (concat 'FALLOUT.RESISTANCE.'key)}}</label>
                        <input class="num-short-2" type="number" name="system.resistance.{{key}}" value="{{resistance}}" />
                    </div>
                    {{/each}}
                </div>
                <div class="equipped pad-5">
                    <h4 class="resource-header">{{localize "FALLOUT.TEMPLATES.GENERAL"}}</h4>
                    <div class="flexrow resource-row align-mid">
                        <label class="capitalized checkbox-label">{{localize "FALLOUT.equipped"}}</label>
                        <input class="input-checkbox" type="checkbox" name="system.equipped" {{checked system.equipped}} data-dtype="Boolean" />
                    </div>

                    <h4 class="resource-header">{{localize "FALLOUT.UI.CarryWeight"}}</h4>
                    <div class="flexrow resource-row align-mid">
                        <label class="capitalized checkbox-label">{{localize "FALLOUT.UI.CarryWeight"}}</label>
                        <input type="number" class="num-short-3" name="system.carry" value="{{system.carry}}">
                    </div>
                    <h4 class="resource-header">{{localize "FALLOUT.UI.Perks"}}</h4>
                    <div class="resource-row align-mid">
                        <label class="capitalized checkbox-label">{{localize "FALLOUT.UI.Perks"}}</label>
                        <input type="text" name="system.perks" value="{{system.perks}}">
                    </div>

					<div class="flexrow resource-row">
						<label class="resource-label">
							{{localize "FALLOUT.actor.inventory.materials.junk"}}
						</label>
						<input
							class="input-checkbox"
							data-dtype="Boolean"
							name="system.isJunk"
							type="checkbox"
							{{checked system.isJunk}}
						/>
					</div>
                </div>
            </div>
        </div>

        {{!-- Active Effects Tab --}}
		{{> item/_shared-partials/effects-tab}}

		{{> item/_shared-partials/source}}
    </section>
</form>
