<form class="{{cssClass}}" autocomplete="off">
    {{> item/_shared-partials/header}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "FALLOUT.TEMPLATES.Attributes"}}</a>
        <a class="item" data-tab="description">{{localize "FALLOUT.TEMPLATES.Description"}}</a>
		<a class="item" data-tab="source">{{localize "FALLOUT.TEMPLATES.Source"}}</a>
    </nav>

    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexrow resource-row">
				<label class="resource-label">
					{{localize "FALLOUT.actor.inventory.materials.junk"}}
				</label>
				<input
					class="input-checkbox"
					data-dtype="Boolean"
					name="system.isJunk"
					type="checkbox"
					{{checked system.isJunk}}
				/>
            </div>

            <div class="resource-row">
				<h3 class="resource-label">{{localize "FALLOUT.TEMPLATES.Effect"}}</h3>
				<div class="description-field">
					{{editor effectHTML target="system.effect" button=true owner=owner editable=editable}}
				</div>
			</div>

        </div>

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>

		{{> item/_shared-partials/source}}
    </section>
</form>
