<form class="{{cssClass}}" autocomplete="off">

	{{> item/_shared-partials/header}}

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">{{localize "FALLOUT.TEMPLATES.Attributes"}}</a>
		<a class="item" data-tab="effects">{{localize "FALLOUT.TEMPLATES.Effects"}}</a>
		<a class="item" data-tab="source">{{localize "FALLOUT.TEMPLATES.Source"}}</a>
	</nav>

	<section class="sheet-body">
		{{!-- Active Effects Tab --}}
		{{> item/_shared-partials/effects-tab}}

		{{!-- Attributes Tab --}}
		<div class="tab attributes" data-group="primary" data-tab="attributes">
			<div class="resource-row resource-label align-mid">
				<label>{{localize "FALLOUT.TEMPLATES.Effect"}}</label>
			</div>
			<div class="description-field">
				{{editor descriptionHTML
					button=true
					editable=editable
					owner=owner
					rollData=rollData
					target="system.description"
				}}
			</div>
		</div>

		{{> item/_shared-partials/source}}
	</section>

</form>
