<form class="{{cssClass}} itemDrop" autocomplete="off">

	{{> item/weapon_mod/_partials/header}}

	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="attributes">
			{{localize "FALLOUT.MODS.mods"}}
		</a>
		<a class="item" data-tab="qualities">
			{{localize "FALLOUT.TEMPLATES.Qualities_and_Effects"}}
		</a>
		<a class="item" data-tab="crafting">
			{{localize "FALLOUT.TEMPLATES.Crafting"}}
		</a>
		<a class="item" data-tab="description">
			{{localize "FALLOUT.TEMPLATES.Description"}}
		</a>

		<a class="item" data-tab="source">
			{{localize "FALLOUT.TEMPLATES.Source"}}
		</a>
	</nav>

	<section class="sheet-body">
		{{> item/weapon_mod/attributes-tab}}
		{{> item/weapon_mod/qualities-and-effects-tab}}
		{{> item/weapon_mod/crafting-tab}}
		{{> item/_shared-partials/description-tab}}
		{{> item/_shared-partials/source}}
	</section>

</form>
