<div class="tab qualities flexcol" data-group="primary" data-tab="qualities">
	<div class="grid">
		<div class="resource-row">
			<label class="resource-label upperC" for=" system.damage.rating">
				{{localize "FALLOUT.TEMPLATES.WEAPON_QUALITIES"}}
			</label>
			<div class="grid item-list">
				{{#each weaponQualities}}
					<div
						{{#if this.active}}
							class="flexrow toggle-label active"
						{{else}}
							class="flexrow toggle-label"
						{{/if}}
						data-tooltip="{{fromConfig "WEAPON_QUALITY_TOOLTIPS" this.key}}"
					>
						<label style="align-self: center;">
							<input
								type="checkbox"
								name="system.damage.weaponQuality.{{key}}.value"
								{{#if this.active}}
									checked
								{{/if}}
							>
							{{this.label}}
						</label>
						{{#if this.hasRank}}
							<input
								class="num-short-2"
								name="system.damage.weaponQuality.{{this.key}}.rank"
								type="number"
								value="{{this.rank}}"
							>
						{{/if}}

					</div>
				{{/each}}
			</div>
		</div>
		<div class="resource-row">
			<label
				class="resource-label upperC"
				for=" system.damage.rating"
			>
				{{localize "FALLOUT.TEMPLATES.Damage_Effects"}}
			</label>
			<div class="grid item-list">
				{{#each damageEffects}}
					<div
						{{#if this.active}}
							class="flexrow toggle-label active"
						{{else}}
							class="flexrow toggle-label"
						{{/if}}
						data-tooltip="{{fromConfig "DAMAGE_EFFECT_TOOLTIPS" this.key}}"
					>
						<label style="align-self: center;">
							<input
								name="system.damage.damageEffect.{{this.key}}.value"
								type="checkbox"
								{{#if this.active}}
									checked
								{{/if}}
							>
							{{this.label}}
						</label>
						{{#if this.hasRank}}
							<input
								class="num-short-2"
								name="system.damage.damageEffect.{{this.key}}.rank"
								type="number"
								value="{{this.rank}}"
							>
						{{/if}}
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
